body{
    margin: 0;
    font-family: sans-serif;
}
#page-header{
    text-align: center;
    margin-top: 0;
    color: grey;
}
button{
    background-color: grey;
}

#contact-list-container{
    padding: 0;
    list-style: none;
}

.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: white;
    display: flex;
}

.contact .detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.contact .delete-button{
    width: 10%;
    text-align: center;
    margin-top: 5px; 
    padding: 3px;
}

.contact .delete-button a{
    color: white;
    background-color: red;
}

#new-contact-form{
text-align: center;
}